# 修改官方为授权的产品许可证的公钥和令牌 (必填)
LICENSE_PKEY=""

LICENSE_TOKEN=""

# 选择安装全量的 compass 或者 mini-compass, 默认为完整的 compass, 如果 PLATFORM_TYPE 为 MINI，则安装 mini-compass
PLATFORM_TYPE="FULL"

# 配置单租户模式还是多租户模式，默认 enabled 为多租户，disabled 单租户
tenantMode="enabled"

# 默认从 system-info 中获取，如果 config 此处配置了 systemEndpoint，就会使用此处的值
systemEndpoint=""

# compass web 地址
compassWebEndpoint=""

# clever web 地址
cleverServer=""

# auth provider sso 登录
oidcIssuer=""

# user web 地址
userwebServer=""

# hodorEndpoint
hodorEndpoint=""

# GitHub、GitLab webhook 回调 compass-devops 的 url，方便配置外网访问代理
devopsWebhookURL=""

# 统一域名，user-web 服务的路径前缀
userwebBasePath: ""

# 统一域名，console-web 服务的路径前缀
consoleBasePath: ""

# 统一域名，auth-provider 服务的路径前缀
ssoBasePath: ""
