apiVersion: v1
kind: ConfigMap
metadata:
  name: platform-config
data:
  # 配置单租户模式还是多租户模式，默认 enabled 为多租户，disabled 单租户
  tenantMode: "{{ tenantMode }}"
  domainEndpoint: ""
  ipEndpoint: "http://{{ systemEndpoint }}:6060"
  oidcIssuer: "http://{{ systemEndpoint }}:6060/sso"
  compassWebEndpoint: "http://{{ systemEndpoint }}:6060"
  userwebServer: "http://{{ systemEndpoint }}:6060/userweb"
  hodorEndpoint: "http://{{ systemEndpoint }}:6060/hodor"
  hodorWebSocket: "ws://{{ systemEndpoint }}:6060/hodor"
  devopsWebhookURL: "http://{{ systemEndpoint }}:6060/hodor/apis/admin.devops.caicloud.io/v1/pipelines"
  cleverServer: "http://{{ systemEndpoint }}:6061"
  userwebBasePath: "/userweb"
  consoleBasePath: ""
  ssoBasePath: "/sso"
  # 是否开启了 cleverOn（true|false)
  cleverOn: "false"

  # Oauth env for gitlab
  gitlabClient: "{{ gitlabClient }}"
  gitlabSecret: "{{ gitlabSecret }}"
  gitlabURL: "{{ gitlabURL }}"
