apiVersion: v1
kind: ConfigMap
metadata:
  name: platform-info
data:
  addon_master_ip: "{{ systemEndpoint|urlsplit }}"
  addon_master_port: "30888"
  cargo_registry: "{{ cargoName }}"
  cargo_registry_ip: "{{ cargoIP }}"
  kube_apiserver_endpoint_ip: "{{ systemEndpoint|urlsplit }}"
  kube_username: "admin"
  kube_password: "{{ kube_password }}"
  platform_namespace: "default"
  registry: "{{ registryName }}"
  registry_ip: "{{ registryIP }}"
  registry_release: "{{ registryName }}/release"
  registry_library: "{{ registryName }}/library"
  # Makefile打包镜像的时候，在platform-info的ConfigMap中添加平台版本号和发布时间
  platform_release_version: G_PLATFORM_RELEASE_VERSION
  platform_release_time: G_PLATFORM_RELEASE_TIME

  # it can be cluster info
  platform_mongo_host: mongodb://infra-mongo-mongo-v1-0-0.mgo-cluster,infra-mongo-mongo-v1-0-1.mgo-cluster,infra-mongo-mongo-v1-0-2.mgo-cluster

  # cluster admin
  sc_heketi_resturl: "{{ glusterHeketiURL }}"
  sc_heketi_restuserkey: "{{ glusterHeketiUserKey }}"
  download_url: "{{ downloadURL }}"

  # dex setting
  dex.oidc_issuer: "http://{{ systemEndpoint|urlsplit }}:32000"
  dex.oidc_client_id: "caicloud"
  dex.oidc_client_secret: "caicloud"
  dex.oidc_redirect_path: "/api/idToken"
  dex.oidc_vip_host: "{{ systemEndpoint|urlsplit }}:30000"
  dex.oidc_domain_host: "{{ clusterName  }}.{{ g_base_domain_name  }}:30000"
  dex.disable_cauth_connector: ""
  dex.clever_vip_host: "{{ systemEndpoint|urlsplit }}:30006"
  dex.clever_domain_host: "{{ clusterName }}.{{ g_base_domain_name }}:30006"

  ## haier connector config
  dex.disable_haier_connector: "#"
  dex.haier_client_id: ""
  dex.haier_client_secret: ""
  dex.haier_host: ""
