apiVersion: v1
kind: ConfigMap
metadata:
  name: dex
data:
  config.yaml: |
    issuer: [[ dex.oidc_issuer ]]
    oauth2:
      skipApprovalScreen: true
      scopes:
      - tenants
    storage:
      type: postgres
      config:
        host: dex-postgres
        database: dex_db
        user: dex
        password: hahahaha
        ssl:
          mode: disable
    web:
      http: 0.0.0.0:5556
    grpc:
      addr: 127.0.0.1:5557
    expiry:
      signingKeys: "6h"
    enablePasswordDB: false
    staticClients:
    - name: 'caicloud'
      redirectURIs:
      - http://[[ dex.oidc_vip_host ]][[ dex.oidc_redirect_path ]]
      - http://[[ dex.oidc_domain_host ]][[ dex.oidc_redirect_path ]]
      - http://[[ dex.clever_vip_host ]][[ dex.oidc_redirect_path ]]
      - http://[[ dex.clever_domain_host ]][[ dex.oidc_redirect_path ]]
      id: [[ dex.oidc_client_id ]]
      secret: [[ dex.oidc_client_secret ]]
    - name: 'cluster'
      redirectURIs:
      - http://[[ dex.oidc_vip_host ]][[ dex.oidc_redirect_path ]]
      - http://[[ dex.oidc_domain_host ]][[ dex.oidc_redirect_path ]]
      - http://[[ dex.clever_vip_host ]][[ dex.oidc_redirect_path ]]
      - http://[[ dex.clever_domain_host ]][[ dex.oidc_redirect_path ]]
      id: cluster
      secret: cluster
      trustedPeers:
      - [[ dex.oidc_client_id ]]
    mainConnector: cauth
    connectors:
    # used to avoid a bug
    - type: github
      id : github
      name: github
    [[ dex.disable_cauth_connector ]]- type: cauth
    [[ dex.disable_cauth_connector ]]  id: cauth
    [[ dex.disable_cauth_connector ]]  name: Cauth
    [[ dex.disable_cauth_connector ]]  config:
    [[ dex.disable_cauth_connector ]]    host: "dex-cauth:8080"
    [[ dex.disable_haier_connector ]]- type: haier
    [[ dex.disable_haier_connector ]]  id: haier
    [[ dex.disable_haier_connector ]]  name: haier
    [[ dex.disable_haier_connector ]]  config:
    [[ dex.disable_haier_connector ]]    clientID: [[ dex.haier_client_id ]]
    [[ dex.disable_haier_connector ]]    clientSecret: [[ dex.haier_client_secret ]]
    [[ dex.disable_haier_connector ]]    redirectURI: [[ dex.oidc_issuer ]]/callback
    [[ dex.disable_haier_connector ]]    url: [[ dex.haier_host ]]
