apiVersion: v1
kind: Service
metadata:
  name: am-master
  labels:
    caicloud-app: am-master
spec:
  ports:
  - port: 8000
    protocol: TCP
    targetPort: 8000
  selector:
    caicloud-app: am-master
  type: ClusterIP
