apiVersion: v1
kind: Service
metadata:
  name: am-minion
  namespace: 'kube-system'
  labels:
    caicloud-app: am-minion
spec:
  ports:
  - port: 8000
    nodePort: 30998
    protocol: TCP
    targetPort: 8000
  selector:
    caicloud-app: am-minion
  type: NodePort
