apiVersion: extensions/v1beta1
kind: Deployment
metadata:
  name: am-minion-v3.0
  namespace: 'kube-system'
spec:
  replicas: 1
  selector:
    matchLabels:
      caicloud-app: am-minion
  template:
    metadata:
      labels:
        caicloud-app: am-minion
    spec:
      containers:
      - name: am-minion
        image: [[ g_registry_prefix_release ]]/am_minion:v3.0
        imagePullPolicy: IfNotPresent
        env:
        - name: SECRET_KEY
          value: 'q*(7(ljz=i61)f_^6vu42u0i1cl4-txz@h6h79kn%c49w$j=n9'
        - name: MASTER_HOST
          value: "[[ addon_master_ip ]]"
        - name: MASTER_PORT
          value: "[[ addon_master_port ]]"
        - name: NAMESPACE
          value: 'kube-system'
        ports:
        - containerPort: 8000
