apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: clever-storage-mongo-data
  namespace: [[ default_namespace ]]
  labels:
    caicloud-app: clever-storage-mongo-data
spec:
  storageClassName: heketi-storageclass
  accessModes:
    - ReadWriteMany
  resources:
    requests:
      storage: 4096Mi
