apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: cyclone-data
  namespace: [[ default_namespace ]]
  labels:
    caicloud-app: cyclone-data
spec:
  storageClassName: heketi-storageclass
  accessModes:
    - ReadWriteMany
  resources:
    requests:
      storage: 500Gi
