apiVersion: v1
kind: Config
current-context: default
clusters:
- cluster:
    insecure-skip-tls-verify: true
    server: "https://endpointIP:endpointPort"
  name: clusterName
contexts:
- context:
    cluster: clusterName
    user: kubectl
  name: default
users:
- name: kubectl
  user:
    username: kubeUser
    password: kubePassword